body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(olive-branch.jpg);
  text-align: center;
}

.container {
  background: transparent;
  border-radius: 0;
  border-bottom: 10px;
}
.header {
  justify-content: space-around;
}

.lead {
    font-size: 15px;
    background-color: ivory; 
    color: black;  
    padding: 10px;
    border-radius: 15px;
  }

.plannerRow {
    height: 50px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 15px;  
    border: 2px solid white;
}

.time-block{
    vertical-align: middle;
    text-align: center;
    font-size: 15px; 
    font-weight: bold;
    color: black; 
    border-radius: 15px 0px 0px 15px; 
    height:100%;
    width: 100%;
    display: inline-block;
    background-color: white;
}
 
.dailyEvent {
    color: black;  
    font-size: 15px;
    height:100%;
    width: 100%;
    border: none;
    background: transparent;
}

.saveIcon {
    background-color: rgb(71, 80, 73);
    color:white;
    border-radius: 2px 15px 15px 0px;
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.past {
  background-color :lightgray;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color:   rgb(81, 107, 87);
  color: white;
}


.saveIcon:hover {
  cursor: pointer;
  font-size: 20px;
  transition: all .3s ease-in-out;
}

@media (max-width: 768px) {
  .plannerRow {
    height: 100%;
    border-radius: 10px;
    margin: 10px;
  }

  .saveIcon { 
    border-radius: 0 0 15px 15px; 
  }

  .time-block { 
    border-radius: 15px 15px 0 0; 
  }
}